main .content{
    display: flex;
    gap: 24px;
    justify-content: space-between;
    padding: 20px 0px;
    
}

main .content-img{
    max-width: 200px;
    overflow: hidden;
    flex-grow: 0;
}

.content-img img{
    width: 100%;
}

.table-content{
    display: flex;
    justify-content: center;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

th{
    color: blue;
    font-size: 1rem;
    font-family: sans-serif;
}
tr:nth-child(even){
    background-color: blue;
    color: white;
}